a {
    color: #f8abff;
}
.btn {
    background-color: #312070;
    color: #eeeeee;
    font-size: x-large;
}
#btn-ans {
    display: block;
    margin: 7px;
}
.btn:hover {
    background-color: #f8abff;
    color: #eeeeee;
}
#quiz-wrapper {
    width: 600px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    padding-top: 20%;
}